@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow-box {
  box-shadow: 0px 4px 10px rgba(207, 207, 207, );
}

/* === responsive === */

@media screen and (max-width: 1050px){
  .about-main{
    flex-direction: column-reverse;
}
.about-left{
  width: 100%;
}
.about-left img{
  margin: auto;
}
.about-right{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-para-1, .about-para-2, .firefrenz-para{
  justify-content: start;
  padding-left: 15px;
}
}
@media screen and (max-width: 800px){
  
  .nav-container{
   padding-left: 20px;
   padding-right: 20px;
  }
.firefrenz-heading-wrapper{
  padding-top: 40px;
}
  .logo{
    height: 50px;
  }
  .xlogo{
    height: 30px;
  }

}
@media screen and (max-width: 600px){ 
  .logo{
    height: 40px;
  }
  .xlogo{
    height: 25px;
  }
  .gif-img{
    height: 100%;
    width: 100%;
  }
  .about-main{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    gap: 0px;
  }
  .about-right, .firefrenz-wrapper{
    padding-left: 20px;
    padding-right: 20px;
  }
  .video{
    height: 360px;
    width: 100%;
    object-fit: cover;
  }
  .about-heading, .firefrenz-heading{
    font-size: 32px;
  }
  .about-text, .firefrenz-text{
    font-size: 16px;
    line-height: 19px;
  }
  .bottom-img{
    height: 102px;
    width: 65px;
  }
  .marquee{
    padding-top: 0px;
  }
  .marquee-inner{
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px;
  }
  .first-card{
    margin-left: 20px;
  }
  .about-para-1, .about-para-2{
    gap: 5px;
  }
  .firefrenz-gap{
    gap:4px ;
  }
  .card-2, .card-3, .card-4{
    top: 0px;
    right: 0px;
  }
  .cards-wrapper{
    gap: 10px;
  }
  .letter-spacing{
    letter-spacing: 1px;
  }
  .gif-img{
    padding-top: 40px;
  }
  
}